* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            

  }
  
  header {
    display: block;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
  }

  hr {
    width: 90%;
    border: 1.5px solid #ffcb05;
  }

  .logo {
    width: 55%;
    height: 60%;
    justify-content: center;
    text-align: center;
  }

  #poke-search {
    width: 20%;
    height: 50%;
    border: 2px solid black;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 15px;
  }

  body {
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     font-size: 15px;
     text-transform: capitalize;
     line-height: 25px;
     padding-top: 22px;
     min-height: 100vh;
     background-color: #2a75bb;
     margin: 10px;
     
  }

  /* ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
  h1 {
    font-size: 30px;
    line-height: 42px;
    padding-left: 30px;
    text-align: center;
  }
  
  input {
    max-width: 300px;
  
  }

  .modal {
    margin: auto;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #fff;
    padding: 5px;
    width: 350px;
    max-width: 700px;
    text-align: center;
    color: white;
    cursor: pointer;
    color: black;
    background-color: lightgrey;
    border: 3px solid #f00000;
    text-transform: capitalize;

  }
  
  .modal h1 {
    padding-left: 0.75em;
  }
  
  .modal-close {
    float: right;
    cursor: pointer;
    font-size: x-large;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: black;
    transition: ease-out 3s;
  }
  
  .modal-close:hover {
    background-color: #f00000;
    border-radius: 50%;
    cursor: pointer;
	  opacity: 0.8;
	  zoom: 1.2;
  }
  
  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    display: grid;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    text-align: center;
  }
  
  .pokemon-list {
    /* width: 500px; */
    /* max-width: 80vw; */
    list-style-type: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 5) 3px 2px 4px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 10vh;
    border-bottom: 2px solid black;
    margin-top: 50px;
    justify-content: center;
  }

  .special {
    font-size: 22px;
    font-weight: 700;
    color: #05676e;
  }
  
  @media (max-width: 400px) {
    h1 {
      font-size: 30px;
    }
    input {
      max-width: 200px;
    }
  }

  .button-class {
    background-color: #ffcb05;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    padding: 16px;
    /* margin: auto; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2.5px solid #f00000;
    width: 100%;
    max-width: 512px;
    height: 50px;
    text-transform: capitalize;
    justify-content: center;
    margin-top: 10px;
    color: black;
    border-radius: 15px;
    font-family: 'Silkscreen', sans-serif;
  }

  .form-control {
    height: 50px;
    margin: 4px 2px;
    width: 150px;
    padding: 5px;
  }  

  .button-class:hover {
    cursor: pointer;
    opacity: 0.9;
    zoom: 1.1;
    outline: 3px solid black;
    transition-duration: 0.5s;
  }

  .pokemon-list > li {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .pokemon-image {
    /* width: 200px; */
    max-width: 60%;
    max-height: 60%;
    min-height: 250px;
    padding: 0;
    margin: 0;
  }